p {
    margin: 0 !important;
}

hr {
    margin: 5px !important;
    color: darkcyan;
}

.post-table th,
.post-table td {
    vertical-align: middle;
    font-size: 13px;
}

.post-table tr {
    border-bottom: 2px solid black;
}

.post-table img {
    width: 80px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: darkcyan;
}

a:hover {
    color: darkblue;
}

.text-light-green{
    color: rgb(38, 193, 18);
}